---
import BaseLayout from '../../layouts/BaseLayout.astro';

import { Image } from 'astro:assets';
import  jamie_profile from '../../assets/pictures/jamie_profile_picture.webp';
import { Content as AboutContent } from './about.mdx';

const { title, description } = Astro.props;

---

<BaseLayout title="JM-About">
	
		<div class="flex justify-center pt-10 pb-10">
			<Image class='about_image' src={jamie_profile} width="600" alt="jamie"/>
		</div>
		
	<div class="prose dark:prose-invert prose-a:text-maya-blue pb-20">
		<AboutContent />
	</div>

</BaseLayout>


<style>
	.about_image {
		border-radius: 3%;
		
	}
</style>


	
