---
import BaseLayout from "../../layouts/BaseLayout.astro";


---
<BaseLayout>
    <section>
        <h1 class="font-bold text-tan text-4xl">Music</h1>
        <p class="text-smoke-white/80">Page coming soon.. and the story of <span class="font-black">EDA!</span></p>
    </section>
</BaseLayout>