---
import BaseLayout from "../../layouts/BaseLayout.astro";
import theboys from "../../assets/pictures/pureriot-band.jpg";
import { Picture } from "astro:assets";
import { YouTube } from "@astro-community/astro-embed-youtube";

---
<BaseLayout title="JM-Music">
    <div class="max-w-4xl">
    <a class="  text-tan/50 underline hover:text-tan duration-200" href="/">home</a>
        <div class="container pt-12">
            
            <section>
                <h1 class="font-bold text-tan text-4xl">Music</h1>
                <p class="text-smoke-white/80">Page coming soon.. and the story of <span class="font-black">EDA!</span></p>
            </section>
            <section class="">
                <div class="pt-5">
                    <Picture src={theboys} formats={['avif', 'webp']} alt="EDA band members" />
                </div>
                <span class="text-smoke-white font-light text-sm">Me ~ Chris, JP and John. Looking mighty serious...</span>
                <div class="py-5">
                    <h2 class="text-smoke-white/80 font-bold pb-2">You Could've Had Everything</h2>
                    <YouTube id="pMRVcbigVes" />
                </div>
                <div class="py-5">
                    <h2 class="text-smoke-white/80 font-bold pb-2">New World Order</h2>
                    <YouTube id="oXKsK3dl8eY" />
                </div>
                <div class="py-5">
                    <h2 class="text-smoke-white/80 font-bold pb-2">We Are One</h2>
                    <YouTube id="F3s2scIl2vE" />
                </div>
            </section>
        </div>
    </div>
</BaseLayout>