---
import BaseLayout from "../layouts/BaseLayout.astro";


---

<BaseLayout>
    <section class="flex flex-col justify-center items-center h-svh">
        <h1 class="font-black text-tan text-2xl">Coming Soon</h1>
        <p class="text-smoke-white/80 pb-5">Sorry, I'm not quite done yet, Check back soon!</p>
        <a class=" bg-smoke-white py-2 px-2 rounded hover:bg-tan duration-150 ease-in" href="/">back to home</a>
        
    </section>

    
</BaseLayout>