---
import BaseLayout from '../layouts/BaseLayout.astro';
import Blobs from '../components/Blobs.astro';
import Typewriter from '../components/Typewriter.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import { Image } from 'astro:assets';
import cafeRacer from '../assets/pictures/small-cafe-racer-jamie.webp';
---
<BaseLayout title="JM-Home">

	<div class="flex flex-col justify-center items-start">
		<div class="grid grid-cols-1 py-12 md:grid-cols-2 max-w-4xl">
			<!-- Heading and paragraph -->
			<div class="pt-5 pb-5">
				<h1 transition:name="myName" class="font-notoSans font-black text-4xl pb-10 text-tan">Hi, my name is Jamie.</h1>
				<div class="flex font-hind font-light text-smoke-white/80 pb-2">
					I’m a&nbsp;<span><Typewriter /></span>&nbsp;among other things. 
				</div>
				<p class="max-w-96 font-hind font-light pb-10 text-smoke-white/80">
					I've needed a place to put my thoughts, share my ideas, showcase some projects and grow as a developer. I hope you enjoy my blog! Please feel free to contact me if you want to learn more!
				</p>
			</div>	
	
			<!-- Hero Image -->
			<div class="relative">
				<div class="">
					<Image src={cafeRacer} alt="cafe racer motorcycle, with Jamie as the rider."/>
				</div>
				<div class="absolute top-0 right-0">
					<Blobs />
				</div>
			</div>
		</div>
		<!-- Links to examples of work -->
		<div class="flex flex-col ">
			<h3 class="font-black text-tan pb-3">My top posts</h3>
			<div class="flex flex-col gap-3 pb-10 font-thin max-w-full text-smoke-white/80">
				<a class="hover:text-maya-blue transition duration-200 ease-in" href="../video/mpp-recovery-project/"><span class="text-smoke-white/20">01</span> Mountain Pygmy Possum</a>
				<a class="hover:text-maya-blue transition duration-200 ease-in" href="/photography/the-distinguished-gentlemans-ride/"><span class="text-smoke-white/20 ">02</span> DGR</a>
				<a class="hover:text-maya-blue transition duration-200 ease-in" href="/video/alfred-william-eustace/"><span class="text-smoke-white/20">03</span> Alfred William Eustace</a>
				
			</div>
			
		</div>
	</div>

</BaseLayout>


