---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import GrainyBG from '../components/GrainyBG.astro';
// import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

const { title, description } = Astro.props;
---



<html lang="en" class="scroll-smooth">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="bg-black | grid-container h-dvh">
        <Header />
        <main class="flex flex-col justify-center items-center flex-grow p-5">
            <slot />
        </main>
        <Footer />
    </body>
</html>
<GrainyBG />

<style>
    .grid-container {
        display: grid;
        grid-template-columns: minmax(0, 120px) 3fr;
       
        
    }
    

    @media (width <= 640px ) {
        .grid-container {
        grid-template-columns: 1fr;
        
    }

    }
</style>